.rutenett {
    display: grid;
    width: 600px;
    height: 600px;
    background-color: coral;
    outline: 5px solid black;
    grid: 1fr 1fr 1fr/
          1fr 1fr 1fr;
     
}

.rute {
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    outline: 1px solid black;
}